.customer-profile-card {
  width: 700px;
  margin: auto;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  text-align: center;
  margin-bottom: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.key-value-pair {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.key {
  font-weight: bold;
  margin-right: 10px;
}

.value {
  text-align: left;
}